//Theme font
$font: "Inconsolata", monospace;

//Theme Colors
$spaceViolet: rgb(118, 73, 254);
$spacePurple: rgb(29, 17, 53);
$spacePink: rgb(186, 30, 104);
$spaceLightBlue: rgb(86, 67, 253);
$spaceBlue: rgb(12, 22, 79);
$spaceGray: rgb(192,197,206);
